h3 {
  font-size: 2.5em;
  text-shadow: 1px 1px red;
  background-color: #fff;
  display: inline;
  cursor: default;
  border-radius: 10px;
}

h2 {
  font-size: 2.5em;
  text-shadow: 1px 1px rgb(0, 38, 255);
  background-color: #fff;
  display: inline-block;
  cursor: default;
  border-radius: 10px;
}

h3:hover {
  color: #fff;
  background-color: rgb(0, 38, 255);
  display: inline;
}

h2:hover {
  color: #fff;
  background-color: red;
  display: inline-block;
}

.score {
  margin-bottom: 20px;
}

.col-left {
  font-family: "Major Mono Display", monospace;
  text-align: left;
}

.col-right {
  font-family: "Major Mono Display", monospace;
  text-align: right;
}