.JOEdiv {
  position: relative;
  padding-top: 25%;
  margin-bottom: 40px;
}

.JOE {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}


.alert-danger {
  font-family: "Noto Serif SC", serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: inline; 
  background-color: red !important;
}

.alert-danger:hover {
  color: #fff;
  background-color: #000 !important;
}

.alert-success {
  font-family: "Noto Serif SC", serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: inline; 
  background-color: blue !important;
}

.alert-success:hover {
  color: #fff;
  background-color: #000 !important;
}