.JOEdiv {
  position: relative;
  padding-top: 25%;
}

.JOE {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.alert-danger {
  font-family: "Noto Serif SC", serif;
  text-transform: uppercase;
  color: #fff;
   display: inline; 
  background-color: red !important;
  border-radius: 0 !important;
  border-color: none !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  cursor: default;
  margin: auto; 
}

.alert-danger:hover {
  color: #fff;
  background-color: #000 !important;
}

.alert-success {
  font-family: "Noto Serif SC", serif;
  text-transform: uppercase;
  color: #fff;
  display: inline; 
  background-color: blue !important;
  border-radius: 0 !important;
  border-color: none !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  cursor: default;
}

.alert-success:hover {
  color: #fff;
  background-color: #000 !important;
}